---
import "./css/style.css";
---

<footer>
  <div class="footer-all">
    <div class="logo-menu">
      <p>Meta Technology</p>
    </div>
    <div class="footer-menu">
      <ul class="nav-menu-footer">
        <li><a href="/">Home</a></li>
        <li><a href="/posts/about">About Us</a></li>
        <li><a href="/posts/term-policy">Term & Policy</a></li>
      </ul>
    </div>
    <div class="bottom-text-footer">
      <p>
        Copyright ©2023 All rights reserved. | This template is made with by
        Meta Technology
      </p>
    </div>
  </div>
</footer>
